@keyframes rainbow {
    0% {
        background-color: #7CB9E8;
    }
    50% {
        background-color: #0066b2;
    }
    100% {
      background-color: #47a4f5;
    }
 }

 .box {
    animation: rainbow 5s linear infinite;
 }